

<div  class="container containerguia" align="justify"> 
  <div class="rowequipo col m6 s12 guiaazul" align="center">
      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
            <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Frontend</h5>
          <p class="equipoparrafo">Néstor A. Pineda Otero</p>
          <p class="equipoparrafo">neapi666@hotmail.com</p>
      </div>

      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
            <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Diseñador Gráfico</h5>
          <p class="equipoparrafo">Lili M. Lopez Montoya</p>
          <p class="equipoparrafo">lmlopez@unitecnica.net</p>
      </div>

      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
            <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>DBA</h5>
          <p class="equipoparrafo">Giovanny A. Murillo Mosquera</p>
          <p class="equipoparrafo">giovanny_753@hotmail.com</p>
      </div>
            
      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
             <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Análista</h5>
          <p class="equipoparrafo">Jheison Vargas Vargas</p>
          <p class="equipoparrafo">jei962010@hotmail.com</p>
      </div>

      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
            <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Diseñador Lógico</h5>
          <p class="equipoparrafo">Diana C. Franco Cristancho</p>
          <p class="equipoparrafo">carocrisf@yahoo.es</p>
      </div>

      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
            <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Backend</h5>
          <p class="equipoparrafo">Jonathan A. Ruiz Hernandez</p>
          <p class="equipoparrafo">jonathan_ruiz09@hotmail.com</p>
      </div>
      
      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
            <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Tester</h5>
          <p class="equipoparrafo">Omar G. Niño Sisa</p>
          <p class="equipoparrafo">omarsisa10@gmail.com</p>
      </div>      

      <div class="containerequipo col m6 s12 guiaamarilla" align="center">
          <figure class="guiaamarilla">
             <img class="guiaimagen" src="assets/imagenes/icon/CodeIcon.png" alt="Proyección profesional" width="125" height="125">
          </figure>
          <h5>Gerente</h5>
          <p class="equipoparrafo">Larry M. Portocarrero Lopez</p>
          <p class="equipoparrafo">larryportocarrero@gmail.com</p>
      </div>  
  </div>        

</div>
<br>