
<br>

<div  class="container" *ngFor="let department of cities | department"> 
  <div class="row depart">
    <div class="h2 col l6 m6 s12"> 
      <a href="municipios/{{department.id}}"> 
        <img class="col s12"  src="{{department.flag + '_head.png'}}" alt="{{department.name   | titleCase}}"  >
      </a>
    </div>
    <div class="col l6 m6 s12">
      <a href="municipios/{{department.id}}">
       <h2 class="depart-titulo" align="center">{{department.name | titleCase}}</h2>
     </a>
   </div>
 
 </div>

 
 <div class="row">
  <div class="col s12 margin-bottom-20">
    <a routerLink="/departamentos">Departamentos </a> > <a href="municipios/{{department.id}}">{{department.name | titleCase}}</a> > {{query}}
    <a class="waves-effect waves-light btn right" (click)="loadStatistics()"><i class="material-icons left">pie_chart</i>Estadisticas</a>
  </div> 
</div>

<app-estadisticas 
  [pieChartLabels]=pieChartLabels
  [pieChartData]=pieChartData
  [isDataAvailable]=isDataAvailable
>
</app-estadisticas>

<div class="row">
  <div class="search-wrapper card">
    <div class="col s12" align="center">
      <form>
          <div class="input-field">
            <input type="search" id="query" name="query" placeholder="Buscar..." [(ngModel)]="query" required>
            <i class="material-icons" (click)="search()">search</i>
          </div>
        </form>
    </div>
  </div>
</div>

<div class="row"> 
  <table class="highlight">
    <thead>
      <tr>
        <th><h4>Municipios</h4></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let city of cities">
        <td *ngIf="city.pattern != null">
          <a href="zonas/{{city.id}}">
            {{city.name  | titleCase}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

  <!-- Loading -->
  <div *ngIf="cities.length == 1" class="progress">
    <div class="indeterminate"></div>
  </div>

  <h5 *ngIf='cities.length == 1 && query != ""'>Búsqueda sin resultados</h5>


</div>    

</div>

<br>

