<div class="container">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i>
          ¿Qué es un Plan de Ordenamiento Territorial (POT)?.
          </div>
        <div class="collapsible-body"><p>Es en el ámbito del urbanismo colombiano, una herramienta técnica que poseen
          los municipios del pais para planificar y ordenar su territorio. Tiene como objetivo
          integrar la planificación física y socioeconómica, así como el respeto al medio ambiente:
          estos documentos pueden incluir estudios sobre temas como la población, las etnias,
          el nivel educativo, así como los lugares donde se presentan fenómenos meteorológicos
          y tectónicos como lluvias, sequías y derrumbes. Estableciéndose como un instrumento
          que debe formar parte de las políticas de estado, con el fin de propiciar desarrollos sostenibles,
          contribuyendo a que los gobiernos orienten la regulación y promoción de ubicación y desarrollo
          de los asentamientos humanos.</p></div>
      </li>
      <li>
        <div class="collapsible-header">
          <i class="material-icons">help</i>
          ¿Qué ciudades poseen POT?.
          </div>
        <div class="collapsible-body"><p>Es en el ámbito del urbanismo colombiano, una herramienta técnica que poseen
          los municipios del pais para planificar y ordenar su territorio. Tiene como objetivo
          integrar la planificación física y socioeconómica, así como el respeto al medio ambiente.</p></div>
      </li>
    </ul>
  
  </div>
  

