<div class="container"> <!--Detalle del municipio--> 
  <div class="muni h2 col s12">
    <h2 class="muni-titulo" align="center" >Valledupar</h2>
  </div>
  
  <div class="row"> <!--Barra de busqueda detalles municipio--> 
    <div class="search-wrapper card">
        <div class="col s12" align="center">
            <input id="search" name="Buscar..."><i class="material-icons">search</i>
            <div class="search-results"></div>
        </div>
    </div>
  </div>
  
  <div class="row"> <!--Detalle distribución municipios ordenamiento--> 
    <table class="highlight">
      <thead class="tabla-muni">
        <tr>
            <th><h4>Cobertura</h4></th>
            <th><h4>Uso</h4></th>
            <th><h4>Área Hectáreas</h4></th>
        </tr>
      </thead>
  
      <tbody>
        <tr>
          <td>Zona Rural</td>
          <td>Zona de conservación</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>Zona Rural</td>
          <td>Zona de conservación</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>Zona Rural</td>
          <td>Zona de conservación</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>Zona Rural</td>
          <td>Zona de conservación</td>
          <td>1000</td>
        </tr>
        <tr>
          <td>Zona Rural</td>
          <td>Zona de conservación</td>
          <td>1000</td>
        </tr>
      </tbody>
    </table>
  </div>    
  </div>
  
  <div align="center">  <!--Paginación municipios-->
  <ul class="pagination">
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  <li class="active"><a href="#!">1</a></li>
  <li class="waves-effect"><a href="#!">2</a></li>
  <li class="waves-effect"><a href="#!">3</a></li>
  <li class="waves-effect"><a href="#!">4</a></li>
  <li class="waves-effect"><a href="#!">5</a></li>
  <li class="waves-effect"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
  </ul>
  </div>
  