<!--The content below is only a placeholder and can be replaced.-->



<nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right">POT</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li class="active"><a href="">Inicio</a></li>
          <li><a href="#MOTIVO">Motivo</a></li>
          <li><a href="#OBJETIVO">Objetivo</a></li>
          <li><a href="#DESCRIPCION">Descripción</a></li>
          <li><a href="#DEPARTAMENTOS">Departamentos</a></li>
        </ul>
      </div>
</nav>

<div class="container">
    <div class="row">
          <div align="center">
            <img class="imagenes col s12"  src="/assets/imagenes/logoletras.png" alt="Ordenamiento"  >
          </div>  
    </div>
</div>



<div  class="container purpura">
    <div class="row">
          <div class="col l6 m6 s12" align="center"> 
            <img class="col s12"  src="/assets/imagenes/mpaacolom.png" alt="motivo"  >
          </div>
          <div id="MOTIVO" class="col l6 m6 s12" align="justify" >
              <h4 >MOTIVO</h4>
              <p> La información acerca de Ordenamiento territorial a nivel nacional, se encuentra disponible de manera descentralizada y no estructurada dificultando su visualización, es así como nace la plataforma, “Visualización Ordenamiento Territorial Colombia”.</p>
          </div>
    </div>
</div>

<div class="container">
    <div class="row">
          <div ID="OBJETIVO" class="col l6 m6 s12" align="justify">
              <h4>OBJETIVO</h4>
              <p>Visualización Ordenamiento Territorial Colombia, se plantea como una solución web para visualizar la información del ordenamiento territorial del país, mediante la presentación de la información de cada municipio de manera ordenada, además permite que cada entidad encargado del ordenamiento territorial incluya información de cada una de las diferentes zonas presentes en su municipio, especificando  su ubicación uso y área.
</p>
          </div>
          <div class="col l6 m6 s12" align="center"> 
              <img class="col s12"  src="/assets/imagenes/icono2.png" alt="objetivo"  >
            </div>
    </div>
</div>

<div class="container purpura">
    <div class="row">
          <div class="col l6 m6 s12" align="center"> 
            <img class="col s12"  src="/assets/imagenes/icono1.png" alt="descripción"  >
          </div>
          <div id="DESCRIPCION" class="col l6 m6 s12" align="justify">
              <h4>DESCRIPCIÓN</h4>
              <p>Visualización de Ordenamiento Territorial Colombia, permite el acceso a información acerca del ordenamiento territorial del país, poniendo en detalle cada una de las zonas de un municipio. Los detalles incluyen nombre de zonas, su localización, el área total y el uso para la cual está destinado. Además permite realizar búsquedas sobre la información presente en el sitio. La plataforma cuenta con sistema de registro y autenticación, el cual le dará acceso a cada municipio sobre la información publicada en el sitio. </p>
          </div>
          
    </div>
</div>
<hr>
<!-- 
<div class="col l3  s6 circulo">Néstor Antonio Pineda Otero</div>

<<div class="container">
    <div class="row">
        <div class="col l3  s6 circulo"><a>Néstor Pineda</a></div>
        <div class="col l3  s6 circulo">Néstor Antonio Pineda Otero</div>
        <div class="col l3  s6">3 columna</div>
        <div class="col l3  s6">4 columna</div>
    </div>
    <div class="row">
        <div class="col l3  s6">1 columna</div>
        <div class="col l3  s6">2 columna</div>
        <div class="col l3  s6">3 columna</div>
        <div class="col l3  s6">4 columna</div>
    </div>
</div>
 -->





<!--
<div class="row">
    <div class="col s12">
        <a href="#"><img width="600" src="https://image.ibb.co/htcNBv/logopot.png" alt="logopot" border="0"></a>
    </div>
    <div class="col s6">
        <a href="#"><img width="400" src="https://image.ibb.co/ii9Qgv/colpot.png" alt="colpot" border="0"></a>
    </div>
    <div class="col s6">La plataforma nace al reflejarse la
        dificultad de acceso a la información
        sobre ordenamiento</div>
</div>
-->
<!--
<div>
  <img src="/assets/imagenes/imagen1portal.png" alt="hola">
  <img src="/assets/imagenes/linux.jpg" alt="linux">
  <img src="/assets/imagenes/icono1.png" alt="mario">
  
</div>
<div style="text-align:center">
  
  <a href="https://imgbb.com/"><img src="https://image.ibb.co/mY6hTa/editar_documento_318_112662.png" alt="editar_documento_318_112662" border="0"></a>
  <a href="https://ibb.co/d8Twoa"><img src="https://preview.ibb.co/fg3U8a/logoimagen.png" alt="logoimagen" border="0"></a>
  <a href="https://ibb.co/dKMhTa"><img src="https://preview.ibb.co/mA1SuF/logopot_copia.png" alt="logopot_copia" border="0"></a>
  <a href="https://imgbb.com/"><img src="https://image.ibb.co/b9xd1v/objetivo_318_76233.png" alt="objetivo_318_76233" border="0"></a>
</div> -->




<!-- height="90" width="auto" vertical-align="middle"   margin-right="11px" -->

<app-departamentos></app-departamentos>

<footer class="page-footer">

    <div class="container">
        <div class="row">
          <div class="col s12" align="center">
            <img class="col s12 m6 offset-m3" src="https://www.datos.gov.co/api/assets/18AE049A-A65E-4537-AD77-CB77B6AFF112?channels-541_logos_pais.png" alt="logo_país">
          </div>
        </div>
    </div>

  <div class="container">
    <div class="row">


      <div class="col l6 s12">
        <h5 class="white-text">Portal de Ordenamiento Territorial de Colombia.</h5>
        <p class="grey-text text-lighten-4">Consulta los Planes de Ordenamiento Territorial de las entidades descentralizadas.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Con el apoyo</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://www.mintic.gov.co" target="_blank">mintic.gov.co</a></li>
            <li><a class="grey-text text-lighten-3" href="http://www.mintic.gov.co/portal/vivedigital/612/w3-channel.html" target="_blank">vivedigital</a></li>
            <li><a class="grey-text text-lighten-3" href="http://cocrealab.org/" target="_blank">cocrealab.org</a></li>
          </ul>
      </div>
    </div>


  </div>
      <div class="footer-copyright">
        <div class="container" align="center">
          Copyright © 2017 - <a class="grey-text text-lighten-3" href="http://cocrealab.org/">Cocrealab.org</a>
        </div>
  </div>

</footer>



