
<ul id="submenu_estadisticas" class="dropdown-content">
  <li><a routerLink="#">Departamentos</a></li>
  <li><a routerLink="#">Municipios</a></li>
  <li><a routerLink="#">Suelos</a></li>
</ul>

<div class="navbar-fixed">
<nav>
      <div class="nav-wrapper">
        <a href="#" class="brand-logo right"><img src="assets/imagenes/icon/iconos/apple-icon-57x57.png" alt="logopot"></a>
        
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a routerLink="/">Inicio</a></li>
          <li><a routerLink="/departamentos">Consultas</a></li>
          <!-- <li><a class="dropdown-button" data-activates="submenu_estadisticas">Estadísticas</a></li> -->
          <li><a routerLink="/equipo">Equipo</a></li>
          <li><a routerLink="/preguntas">Preguntas Frecuentes</a></li>
        </ul>
      </div>
</nav>
</div>

<router-outlet></router-outlet>


<footer class="page-footer">

    <div class="container">
        <div class="row">
          <div class="col s12" align="center">
            <img class="col s12 m6 offset-m3" src="https://www.datos.gov.co/api/assets/18AE049A-A65E-4537-AD77-CB77B6AFF112?channels-541_logos_pais.png" alt="logo_país">
          </div>
        </div>
    </div>

  <div class="container">
    <div class="row">


      <div class="col l6 s12">
        <h5 class="white-text">Portal de Ordenamiento Territorial de Colombia.</h5>
        <p class="grey-text text-lighten-4">Consulta los Planes de Ordenamiento Territorial de los municipios de Colombia.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Con el apoyo:</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="http://www.mintic.gov.co" target="_blank">Mintic.gov.co</a></li>
            <li><a class="grey-text text-lighten-3" href="http://www.mintic.gov.co/portal/vivedigital/612/w3-channel.html" target="_blank">viveDigital</a></li>
            <li><a class="grey-text text-lighten-3" href="http://cocrealab.org/" target="_blank">Cocrealab.org</a></li>
          </ul>
      </div>
    </div>


  </div>
      <div class="footer-copyright">
        <div class="container" align="center">
          Copyright © 2017 - <a class="grey-text text-lighten-3" href="http://cocrealab.org/">Cocrealab.org</a>
        </div>
  </div>

</footer>



